napcat_http_server: http://127.0.0.1:3000
reverse_http_listen: 0.0.0.0:3002
api_keys:
  draw_url_base: https://api.siliconflow.cn/v1/images/generations
  draw_api_key: SILICONFLOW_API_KEY
  exchange_rate_api_key: EXCHANGE_RATE_API_KEY
  okx_mirror_api_key: OKX_MIRROR_API_KEY

sqlite:
  path: ./db/bot.db

permissions:
  master_id: YOUR_MASTER_ID_HERE
  bot_id: YOUR_BOT_ID_HERE
